@import "../../app.scss";


body {
    background-image: url(../../Assets/pixelbackgray.png);
    height: 180vw;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    box-sizing: border-box;
}
