.add-task-btn {
  background: #72c934;
  color: white;
  height: 44px;
  margin-top: 23px;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.daily-task-card, .weekly-task-card, .monthly-task-card, .complete-task-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.edit-task-btn {
  display: inline-block;
  padding: .25rem .5rem;
  height: 30px;
  width: 30px;
  font-size: .875rem;
  border-radius: .2rem;
  color: white;
  background-color: #12c1ed;
  border-color: #12c1ed;
  cursor: pointer;
}

.complete-task-btn {
  display: inline-block;
  padding: .25rem .5rem;
  height: 30px;
  width: 30px;
  font-size: .875rem;
  border-radius: .2rem;
  color: white;
  background-color: #23e92d;
  border-color: #23e92d;
  cursor: pointer;
}

.delete-task-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem;
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
  cursor: pointer;
  margin-bottom: -.5vw;
}

.pwholething {
  background-image: url(../../Assets/pixelbackgray.png);
  margin-top: -1vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.allprofile {
  margin-top: -15vw;
}

.userstuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4.5vw;
  color: #bababa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userbox {
  background: #4b4b4b;
  border: 5px solid #13e6d8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.userbox img {
  margin-left: 2vw;
}

.userbox h1 {
  margin-right: 2vw;
}

.chart-container {
  height: 60vw;
  background: transparent;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -35vw;
}

.thechart {
  height: 60vw;
  width: 60vw;
}

.title-rank > h1 {
  color: #4b4b4b;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.atbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-period-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
}

.dheader, .wheader, .mheader, .cheader {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #13e6d8;
  font-size: 1.5vw;
  height: 2vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dsection, .wsection, .msection, .csection {
  margin-top: 1vw;
  width: 23vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 1vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.daily-section, .weekly-section, .monthly-section, .completed-section {
  width: 23vw;
  background: #bababa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 1vw;
  height: 350px;
  overflow: auto;
  -webkit-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.daily-task-card, .weekly-task-card, .monthly-task-card, .complete-task-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: .25rem;
  position: relative;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.weekly-task-card, .monthly-task-card, .complete-task-card {
  width: 99%;
}

.delete-task-btn {
  display: inline-block;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}
/*# sourceMappingURL=Profile.css.map */