@import '../../styles/components';


.pwholething {
    background-image: url(../../Assets/pixelbackgray.png);
    margin-top: -1vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
    min-height: 100vh;
}

.chart-container {
    width: 40vw;
    // border: 2px solid red;
    // border-radius: 5px;
    // background: white;
    margin-top: 2vh;
    margin-left: 1vw;
}

.add-task-btn {
    background: #72c934;
    color: white;
    height: 44px;
    margin-top: 23px;
    margin-left: 10px;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    cursor: pointer;
}

.title-rank > h1 {
    color: white;
    margin-left: 10px;
}

.task-period-container {
    display: flex;  
}
.dsection, .wsection, .msection, .csection {
    background: rgb(255, 152, 0);
    margin-top:1vw;
    width: 23vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 1vw;
    font-size: 1.5vw; 
}

.daily-section, .weekly-section, .monthly-section, .completed-section {
    width: 23vw;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 1vw;
    height: 350px;
    background: white;
    box-shadow: 0 10px 6px -6px #777;
}

.daily-task-card {
    position: relative;
    display: flex;   
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: .25rem;
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.weekly-task-card, .monthly-task-card, .complete-task-card  {
    @extend .daily-task-card;
    width: 96%;
}

.delete-task-btn {
    display: inline-block;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: white;
    background-color: #dc3545;
    border-color: #dc3545;
}