.card1{
    height: 150%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11vw;
    margin-top: -2vw;

}
.card2 {
    height: 8vw;
    width: 8vw;
    margin-top: -3.5vw;
}

.card3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 25vw;
    margin-top: -6vw;
}
.card4 {
    height: 18vw;
    width: 30vw;
    margin-top: -2vw;
}
.card5 {
    height: 17vw;
    width: 30vw;
    margin-top: -3.5vw;
}