
.cards {
    border: 10px solid;
    border-radius: 15px;
    width: 60vw;
    height: 29vw;
    margin-top: -12vw;
    box-sizing: border-box;


}
.cardcontent {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    
}
.cardwords {
    height: 45%;
    margin-top: -3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    font-family: 'Varela Round', sans-serif;
    color: rgb(186,186,186);
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.bothbutts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    
}
.leftbutt, .rightbutt{
    font-size: 4vw;
    outline: none;
    border: none;
    background: transparent;
    color: #13e6d8;
    font-weight: bolder;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: 'Varela Round', sans-serif;

}

.cardimg {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}