
.lwholething {
    background-image: url(../../Assets/pixelbackgray.png);
    margin-top: -1vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
    min-height: 100vh;
}

.login-container {
    background: white;
    height: 20vw;
    width: 20vw;
    margin-bottom: 3vw;
    margin-top: -5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; 
}
