
.lwholething {
    background-image: url(../../Assets/pixelbackgray.png);
    margin-top: -1vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
    min-height: 100vh;
}

.login-container {
    background: rgb(186,186,186);
    border: 10px solid #13e6d8;
    border-radius: 5px;
    height: 20vw;
    width: 25vw;
    margin-bottom: 3vw;
    margin-top: -10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; 
}
