@import "../../app.scss";

.thetop{
        background-image: url(../../Assets/spacepixel.png);
        // background-image: url(../../Assets/spacegif.gif);
        // background-image: url(../../Assets/crazyalien.gif);
        // background-image: url(../../Assets/rickandmorty.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
}
.Blogo {
    height: 30vw;
    width: 45vw;
}
.hamburgerB {
    height: 8vw;
    width: 8vw;
    margin-top: .01vw;
    cursor: pointer;
}

.openlist {
    font-size: 2.5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(186, 186, 186, 0.678);
    
}

.openlist h3 {
    color: #13e6d8;
    margin-top: .25vw;

}
.openlist h3:hover{
    color: black;
}
.top-menu-open {
    width: 99vw;

    margin-top: 20vw;
}
.sitop{
    height: 30vw;
    box-sizing: border-box;
    width: 100%;
    border: none;
}

.bignav{
    display:flex;
    height: 25%;
    width: 40vw;
    justify-content: center;
    text-align: bottom;
    // background-color:blue;
    margin-top: 14vw;
    margin-right: 5vw;
}
.lis {
    width: 75%;
    height: 100%;    
    // background-color: gray;
    margin-right: -5vw;
}

.sitop, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

@keyframes open {
    from {
        transform: translateX(1610px)
    }
    to {
        transform: translateX(510px);
    }
}
@keyframes  close {
    from{
        transform: translateX(575px)
    }
    to {
        transform: translateX(1610px)
    }
}

@media (max-width: 850px) {
    li {
        display: none;
    }
    .top-menu-open{
        z-index: 10;
    }
    .top-menu-close{
        z-index:-1;
    }
}