.add-task-btn {
  background: #72c934;
  color: white;
  height: 44px;
  margin-top: 23px;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  cursor: pointer;
}

.daily-task-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.edit-task-btn {
  display: inline-block;
  padding: .25rem .5rem;
  height: 30px;
  width: 30px;
  font-size: .875rem;
  border-radius: .2rem;
  color: white;
  background-color: #12c1ed;
  border-color: #12c1ed;
  margin: 1px;
  cursor: pointer;
}

.complete-task-btn {
  display: inline-block;
  padding: .25rem .5rem;
  height: 30px;
  width: 30px;
  font-size: .875rem;
  border-radius: .2rem;
  color: white;
  background-color: #23e92d;
  border-color: #23e92d;
  margin: 1px;
  cursor: pointer;
}

.delete-task-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem;
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
  margin: 1px;
  cursor: pointer;
}

.twholething {
  background-image: url(../../Assets/pixelbackgray.png);
  margin-top: -1vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Varela Round', sans-serif;
  min-height: 100vh;
}

.new-task-container {
  background: #bababa;
  border: 10px solid #13e6d8;
  border-radius: 5px;
  width: 30vw;
  height: 18vw;
  margin-top: -10vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.drop1 {
  margin-right: 1vw;
}

.dropit1 {
  height: 2vw;
  background-color: gray;
  font-size: 1vw;
  color: #13e6d8;
}

.dropit2 {
  height: 2vw;
  background-color: gray;
  font-size: 1vw;
  color: #13e6d8;
}

.task-content {
  width: 30vw;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  word-wrap: normal;
  text-transform: none;
  margin: 0;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new-task-form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-task-form > h1 {
  color: white;
}
/*# sourceMappingURL=NewTask.css.map */